.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.github-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.github-icon {
    font-size: 18px;
    margin-right: 5px;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
    .logo {
        font-size: 19.2px;
    }

    .github-icon {
        font-size: 16px;
    }
}

/* Mobile responsive styles */
@media screen and (max-width: 425px) {
    .link-text {
        display: none;
    }
}