.photo-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 15px;
}

.photo-container:hover {
    filter: brightness(0.7);
    /* Darken the image on hover */
    /* You can adjust the brightness value as needed */
}

.photo-container.selected {
    /* No border when selected */
    filter: brightness(0.7);
    /* Darken the image when selected */
}

.checkbox {
    position: absolute;
    top: 20px;
    left: 20px;
    /* Display checkbox in the top left corner */
    z-index: 2;
    transform: scale(1.5);
    /* Make the checkbox 2x bigger */
}

.photo-container:hover .checkbox {
    display: block;
    /* Show the checkbox on hover */
}

.selected-count {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    display: none;
    /* Hide the count by default */
}

.photo-container.selected .selected-count {
    display: block;
    /* Show the count when selected */
}